
body {
margin: 0%;
padding: 0%;
}


.container{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
}


.row {
    border: 2px solid orange;
    height: 33.3%;
    background: #7c57c2;
  
}

.row:nth-child(1){

border-radius: 10px 10px 0px 0px;

}

.row:nth-child(2){

border-radius: 0%;

}

.row:nth-child(3){

    border-radius: 0px 0px 10px 10px;
    
    }

.flex {

display: flex;

}

.title{

height: 80%;
width: 80%;
border: 2px solid orange;
font-size: 48px;
font-family: 'Alegreya';
border-radius: 10px 10px 0px 0px;
border-bottom: transparent;
text-shadow: 1px 1px 1px #f1ff5c;
}



.flexCenter{
display: flex;
justify-content: center;
align-items: center;

}

.fillSpace{

height: 100%;
width: 100%;

}

.godSelection{

height: 128px;
width: 128px;
background-image: url(/images/achilles.jpg) no-repeat;
box-shadow: 0 0 0 8px #632c63, 0 0 0 12px #a769a7, 0 0 0 16px #c380c3, 0 0 0 20px #640064;
border-radius: 10px;
position:relative;


}


.buttonStyle{


background: none;
color: #ffa260;
border: 2px solid;
padding: 1em 2em;
font-size: 1em;
border-radius: 10px;



}

.buttonStyle:hover{

    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.35em);
    transition: transform .15s, box-shadow .15s;
    cursor: pointer;
    border-radius: 5px;
}